html {
    scroll-behavior: smooth;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 35px;
}

.header {
    height: 100px;
    background: rgb(37, 50, 67);
    color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 4px solid white;
    font-size: 15px;
    justify-content: space-between;
}

a {
    text-decoration: None;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 6px;
    text-align: center;
    border-radius: 13px;
}

ul {
    list-style-type: None;
    display: flex;
    gap: 26px;
}

h2 {
    font-size: 50px;
    margin: 0;
}

.intro-text {
    color: white;
    width: 490px;
}

.intro {
    display: flex;
    height: 500px;
    background: #253243;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.intro-images {
    height: 450px;
    border: solid white 3px;
    border-radius: 13px;
    padding: 3px;

}

.intro-image1 {
    margin-right: 25px;
}

button {
    font-size: 30px;
    border-radius: 13px;
    background: white;
    color: #253243;
    font-weight: 600;
    padding: 12px;
    margin-top: 12px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
}

.services {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}

.services-header {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 64px;
    color: #253243;
}

.services-images {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 64px;
    text-align: center;
    flex-wrap: wrap;
}

.service-info {
    width: 300px;
}

.service-image {
    width: 300px;
    height: 300px;
    border: solid 5px #253243;
    border-radius: 13px;
    padding: 3px;
}

.service-text-header {
    padding-top: 16px;
    font-size: 32px;
    font-weight: 500;
    color: #253243;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    height: 400px;
    font-size: 36px;
    font-style: italic;
    gap: 16px;
    padding-left: 600px;
    padding-right: 600px;
    
}

.testimonial {
    width: 50vw;
    align-self: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.customer {
    font-weight: 600;
    font-size: 25px;
    align-self: flex-end;
}

.cta-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    background: #3882F6;
    display: flex;
    gap: 40px;
    color: white;
    border-radius: 10px;
    padding: 24px;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
}

.cta-button {
    font-size: 16px;
    background: #3882F6;
    color: white;
    border: solid white 3px;

}

.footer {
    height: 80px;
    background-color: #253243;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}